$Manrope: ('Bold', 700),
             ('SemiBold', 600),
             ('Regular', 400),
             ('Medium', 500);
            

@each $font, $weight in $Manrope {
  @font-face {
    font-family: 'Manrope';
    font-weight: $weight;
    src: url('../assets/fonts/Manrope-#{$font}.ttf') 
}
}


